<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877407232955-3g7rcan5tkfj84m87vqj32au9l9e8kid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877407232955-3g7rcan5tkfj84m87vqj32au9l9e8kid</string>
	<key>API_KEY</key>
	<string>AIzaSyCujxucd45Qa6wKbUbrxndAYjCTQlc_8q8</string>
	<key>GCM_SENDER_ID</key>
	<string>877407232955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kopytinka.VKClient</string>
	<key>PROJECT_ID</key>
	<string>vkclient-1875c</string>
	<key>STORAGE_BUCKET</key>
	<string>vkclient-1875c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877407232955:ios:1ae7ab547f6d2fc8a75a9e</string>
</dict>
</plist>